<footer>
    <a href="https://github.com/grntco/members-only" target="_blank" rel="noopenner norefferer" class="footer-link">
        <span>Made by Grant Collins</span>
        <img src="/icons/github-mark.svg" alt="GitHub octocat logo" />
    </a>
</footer>