<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>

<body>
    <main>
        <form action="/join" method="POST">
            <label for="text">Username:</label>
            <input type="text" id="username" name="username">
            <br>
            <label for="password">Password:</label>
            <input type="password" id="password" name="password">
            <br>
            <label for="secretPassword">Secret Password: </label>
            <input type="password" id="secretPassword" name="secretPassword">
            <button type="submit">Join the Club</button>
        </form>
    </main>
</body>

</html>