<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up</title>
</head>

<body>
    <main>
        <% if (locals.errors) {%>
            <ul>
                <% errors.forEach((error)=> { %>
                    <li>
                        <%= error.msg %>
                    </li>
                    <% }); %>
            </ul>
            <% } %>
                <form action="/sign-up" method="POST">
                    <label for="firstName">First Name:</label>
                    <input type="text" id="firstName" name="firstName">
                    <br>
                    <label for="lastName">Last Name:</label>
                    <input type="text" id="lastName" name="lastName">
                    <br>
                    <label for="text">Username:</label>
                    <input type="text" id="username" name="username">
                    <br>
                    <label for="password">Password:</label>
                    <input type="password" id="password" name="password">
                    <br>
                    <label for="confirmPassword">Confirm Password:</label>
                    <input type="password" id="confirmPassword" name="confirmPassword">
                    <br>
                    <label for="admin">Wanna be an admin? (no pressure)</label>
                    <input type="checkbox" id="admin" name="admin">
                    <br>
                    <button type="submit">Create Account</button>
                </form>
    </main>
</body>

</html>