* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-bg-color: #f8f9fa;
  --secondary-bg-color: #e9ecef;
  --primary-txt-color: #212529;
  --secondary-txt-color: #6c757d;
  --link-color: #495057;
  --border-color: #ced4da;
}

body {
  font-size: 16px;
  font-family: sans-serif;
  color: var(--primary-txt-color);
  background-color: var(--primary-bg-color);
  display: flex;
  flex-direction: column;
  height: 100vh;
}

header {
  height: 4rem;
  border-bottom: 1px solid var(--border-color);
}

footer {
  border-top: 1px solid var(--border-color);
  padding: 0.5rem;
  display: flex;
  justify-content: center;
}

footer .footer-link {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  /* cursor: pointer; */
  color: var(--link-color);
  text-decoration: none;
}

footer .footer-link:hover {
  text-decoration: underline;
  cursor: pointer;
  color: var(--primary-txt-color);
}

footer .footer-link img {
  height: 1.3rem;
}

main {
  display: flex;
  flex-grow: 1;
}

.sidebar {
  display: flex;
  flex-direction: column;
  /* gap: 2rem; */
  height: 100%;
  width: 256px;
  /* padding: 1rem; */
  border-right: 1px solid var(--border-color);
}

.sidebar .user-greeting {
  padding: 1rem;
}

.sidebar .privileges-list-container {
  padding: 1rem;
  border-top: 1px solid var(--border-color);
  border-bottom: 1px solid var(--border-color);
}

.sidebar .privileges-list-container h4 {
  padding-bottom: 0.5em;
  border-bottom: 1px solid var(--border-color);
}

.sidebar .privileges-list {
  margin-top: 0.5rem;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  /* color: var(--secondary-txt-color); */
}

.sidebar-link-list {
  height: 100%;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
}

.sidebar-link-list .spacer {
  flex-grow: 1;
}

.sidebar-link {
  display: block;
  text-decoration: none;
  text-align: center;
  font-size: 1.2rem;
  padding: 0.75em 1em;
  border-radius: 1rem;
  background-color: var(--secondary-bg-color);
  color: var(--link-color);
}

.sidebar-link:hover {
  background-color: #dee2e6;
  color: #212529;
  cursor: pointer;
}

.sidebar-link.blue {
  background-color: #4590dc;
  color: #f8f9fa;
}

.sidebar-link.blue:hover {
  background-color: #3478bc;
}

.content {
  flex-grow: 1;
  padding: 1rem;
  /* border: 1px solid red; */
}

.messages-list {
  list-style-type: none;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.message-item {
  display: flex;
  align-items: center;
  padding: 1rem;
  border: 1px solid var(--border-color);
  border-radius: 0.5rem;
  /* background-color: var(--secondary-bg-color); */
}

.message {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  flex-grow: 1;
}

.message-author,
.message-date {
  color: var(--secondary-txt-color);
}
/* 
.blurred {
  color: transparent;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
} */

.message-title {
  font-size: 1.1rem;
}
