* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-bg-color: #f8f9fa;
  --secondary-bg-color: #e9ecef;
  --primary-txt-color: #212529;
  --secondary-txt-color: #6c757d;
  --link-color: #495057;
  --border-color: #ced4da;
  --btn-bg-color: #e9ecef;
  --btn-bg-color-hover: #dee2e6;
  --blue: #4590dc;
  --blue-hover: #3478bc;
}

body {
  font-size: 16px;
  font-family: sans-serif;
  color: var(--primary-txt-color);
  background-color: var(--primary-bg-color);
  display: flex;
  flex-direction: column;
  height: 100vh;
}

a {
  /* text-decoration: none; */
  color: var(--link-color);
  text-underline-offset: 4px;
}

a:hover {
  /* text-decoration: underline; */
  color: var(--primary-txt-color);
}

header {
  padding: 1rem;
  display: flex;
  align-items: center;
  height: 4rem;
  border-bottom: 1px solid var(--border-color);
}

.logo-link {
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  color: var(--primary-txt-color);
}

.logo-link:hover {
  color: var(--secondary-txt-color);
}

.logo-link span {
  font-size: 1.6rem;
  font-weight: 600;
}

.logo-link img {
  height: 2rem;
  filter: invert(12%) sepia(8%) saturate(921%) hue-rotate(169deg)
    brightness(88%) contrast(91%);
}

.logo-link:hover img {
  filter: invert(28%) sepia(3%) saturate(1670%) hue-rotate(169deg)
    brightness(97%) contrast(85%);
  cursor: pointer;
}

footer {
  border-top: 1px solid var(--border-color);
  padding: 0.5rem;
  display: flex;
  justify-content: center;
}

footer .footer-link {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  /* cursor: pointer; */
  color: var(--link-color);
  text-decoration: none;
}

footer .footer-link:hover {
  text-decoration: underline;
  cursor: pointer;
  color: var(--primary-txt-color);
}

footer .footer-link img {
  height: 1.3rem;
}

main {
  display: flex;
  flex-grow: 1;
  min-height: 0;
}

.btn {
  border: none;
  min-width: 196px;
  text-align: center;
  font-size: 1.2rem;
  padding: 0.75em 1em;
  border-radius: 1rem;
  background-color: var(--btn-bg-color);
  color: var(--link-color);
}

.btn:hover {
  background-color: var(--btn-bg-color-hover);
  color: var(--primary-txt-color);
  cursor: pointer;
}

.btn.blue {
  background-color: var(--blue);
  color: var(--primary-bg-color);
}

.btn.blue:hover {
  background-color: var(--blue-hover);
  color: var(--secondary-bg-color);
}

.sidebar {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 256px;
  border-right: 1px solid var(--border-color);
}

.sidebar .user-info {
  display: flex;
  flex-direction: column;
  padding: 2rem 1rem;
}

.sidebar .user-info span {
  color: var(--secondary-txt-color);
  font-size: 1rem;
  margin-bottom: 0.25rem;
}

.sidebar .user-info .user {
  font-weight: 600;
  font-size: 1.5rem;
  color: var(--primary-txt-color);
}

.sidebar .privileges-list-container {
  padding: 1rem;
  border-top: 1px solid var(--border-color);
  border-bottom: 1px solid var(--border-color);
}

.sidebar .privileges-list-container h4 {
  padding-bottom: 0.5em;
  border-bottom: 1px solid var(--border-color);
}

.sidebar .privileges-list {
  margin-top: 0.5rem;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.sidebar-link-list {
  height: 100%;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
}

.sidebar-link-list .spacer {
  flex-grow: 1;
}

.sidebar-link {
  display: block;
  text-decoration: none;
  text-align: center;
  font-size: 1.2rem;
  padding: 0.75em 1em;
  border-radius: 1rem;
  background-color: var(--btn-bg-color);
  color: var(--link-color);
}

.sidebar-link:hover {
  background-color: var(--btn-bg-color-hover);
  color: var(--primary-txt-color);
  cursor: pointer;
}

.sidebar-link.blue {
  background-color: var(--blue);
  color: var(--primary-bg-color);
}

.sidebar-link.blue:hover {
  background-color: var(--blue-hover);
}

.content {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  padding: 2rem;
  overflow-y: auto;
}

/* ALERTS */
.alert {
  /* margin: 0 auto; */
  /* m-width: 800px; */
  text-align: center;
  font-size: 1.2rem;
  padding: 1rem;
  border-radius: 1rem;
  background-color: var(--secondary-bg-color);
  border: 1px solid var(--border-color);
  color: var(--link-color);
  margin-bottom: 1rem;
}

.alert:last-of-type {
  margin-bottom: 2rem;
}

.alert.blue {
  border-color: var(--blue);
  background-color: var(--blue);
  color: var(--primary-bg-color);
}

.alert.blue a {
  color: var(--primary-bg-color);
}

.alert.blue a:hover {
  color: var(--secondary-bg-color);
}

.container {
  margin: 0 auto;
  max-width: 800px;
  margin-top: 2rem;
}

.messages-list-title {
  text-align: center;
}

.messages-list {
  margin-top: 1rem;
  list-style-type: none;
  /* padding: 2rem; */
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.message-item {
  display: flex;
  align-items: center;
  padding: 1rem;
  border: 1px solid var(--border-color);
  border-radius: 0.5rem;
  /* background-color: var(--secondary-bg-color); */
}

.message {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  flex-grow: 1;
}

.message-title {
  font-size: 1.1rem;
}

.message-content {
  line-height: 1.6rem;
}

.message-info {
  color: var(--secondary-txt-color);
}

.message-info.blurred {
  color: transparent;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  user-select: none;
}

.message-delete-btn {
  border: none;
  padding: 0.75em 1em;
  border-radius: 1rem;
  background-color: var(--btn-bg-color);
}

.message-delete-btn img {
  height: 1.3rem;
  filter: invert(28%) sepia(3%) saturate(1670%) hue-rotate(169deg)
    brightness(97%) contrast(85%);
}

.message-delete-btn:hover {
  background-color: var(--btn-bg-color-hover);
  cursor: pointer;
}

.message-delete-btn:hover img {
  filter: invert(12%) sepia(8%) saturate(921%) hue-rotate(169deg)
    brightness(88%) contrast(91%);
}

/* FORMS */

.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

input,
textarea {
  outline: none;
  width: 100%;
  padding: 0.5rem;
  font-family: sans-serif;
  font-size: 1.2rem;
  line-height: 2rem;
  border: 2px solid var(--border-color);
  border-radius: 0.25rem;
  margin-bottom: 1rem;
}

input:focus,
textarea:focus {
  border: 2px solid var(--blue);
}

label {
  display: inline-block;
  margin-bottom: 0.5rem;
  font-weight: 600;
  font-size: 1rem;
  color: var(--secondary-txt-color);
}

.checkbox-input {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-bottom: 1rem;
}

.checkbox-input label {
  margin-bottom: 0;
}

.checkbox-input input[type="checkbox"] {
  margin: 0;
  padding: 0;
  width: auto;
  transform: scale(1.2);
}

.checkbox-input input[type="checkbox"]:checked {
  accent-color: var(--blue);
}

form .form-title,
form .form-other,
form.account-form button[type="submit"] {
  align-self: center;
  margin-bottom: 1rem;
}

.account-form {
  align-self: center;
  justify-self: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 600px;
  width: 100%;
  min-height: 600px;
  padding: 2rem;
  border-radius: 0.5rem;
  border: 1px solid var(--border-color);
}

.account-form .form-user-greeting {
  font-size: 1.4rem;
  font-weight: 600;
  margin-bottom: 0.5rem;
  align-self: center;
  color: var(--blue);
}

.account-form .form-other {
  font-size: 1.2rem;
  line-height: 1.8rem;
  color: var(--secondary-txt-color);
  text-align: center;
}

/* button[type="submit"] {
  margin-top: 1rem;
} */

/* NEW MESSAGE FORM */
.new-message-form {
  padding: 2rem;
}

.new-message-form textarea {
  resize: vertical;
  height: 256px;
}

.new-message-form textarea:focus {
  border: 2px solid var(--blue);
}
